/* montserrat-regular - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/montserrat-v25-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-cyrillic-regular.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-cyrillic-regular.woff") format("woff"), url("../assets/fonts/montserrat-v25-cyrillic-regular.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-cyrillic-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/montserrat-v25-cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-cyrillic-500.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-cyrillic-500.woff") format("woff"), url("../assets/fonts/montserrat-v25-cyrillic-500.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-cyrillic-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* inter-regular - cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter-v12-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/inter-v12-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/inter-v12-cyrillic-regular.woff2") format("woff2"), url("../assets/fonts/inter-v12-cyrillic-regular.woff") format("woff"), url("../assets/fonts/inter-v12-cyrillic-regular.ttf") format("truetype"), url("../assets/fonts/inter-v12-cyrillic-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-500 - cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/inter-v12-cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/inter-v12-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/inter-v12-cyrillic-500.woff2") format("woff2"), url("../assets/fonts/inter-v12-cyrillic-500.woff") format("woff"), url("../assets/fonts/inter-v12-cyrillic-500.ttf") format("truetype"), url("../assets/fonts/inter-v12-cyrillic-500.svg#Inter") format("svg"); /* Legacy iOS */
}
/* jost-300 - cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/jost-v14-cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/jost-v14-cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/jost-v14-cyrillic-300.woff2") format("woff2"), url("../assets/fonts/jost-v14-cyrillic-300.woff") format("woff"), url("../assets/fonts/jost-v14-cyrillic-300.ttf") format("truetype"), url("../assets/fonts/jost-v14-cyrillic-300.svg#Jost") format("svg"); /* Legacy iOS */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  border: none;
}

.header {
  position: relative;
}
.header__pic {
  width: 100%;
}
.header__logo {
  position: absolute;
  top: 13px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  max-width: 157px;
  position: absolute;
  top: 22%;
  left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10.3vw;
  line-height: 106.4%;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.header__subtitle {
  max-width: 127px;
  position: absolute;
  top: 38%;
  left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 3.6vw;
  line-height: 117.02%;
  color: #ffffff;
}
.header__hint {
  position: absolute;
  top: 56%;
  left: 10px;
}
.header__tooltip {
  visibility: hidden;
  margin-top: 11px;
  padding: 6.5px;
  max-width: 261px;
  background: #ffffff;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.header__btn {
  padding: 0 13.5px;
  border-radius: 80px;
  background: #8c452b;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27.1096px;
  line-height: 33px;
  color: #ffffff;
  margin-right: 17px;
  cursor: pointer;
}
.header__btn:hover ~ .header__tooltip {
  visibility: visible;
}
.header__arrow {
  padding-bottom: 3px;
}
.header__btn-signup {
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 27px;
  background: #8c452b;
  border-radius: 29px;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.header__networks {
  display: flex;
  position: absolute;
  bottom: 4.5%;
  left: 50%;
  transform: translateX(-50%);
}
.header__network {
  margin-right: 19px;
  width: 29px;
}
.header__network:last-child {
  margin-right: 0;
}
.header__icon path {
  fill: #8c452b;
}

.benefits {
  background: #836257;
  padding: 74px 25px 119px 25px;
  transform: translateY(-4px);
  margin-bottom: -4px;
}
.benefits__card {
  margin-bottom: 28px;
  text-align: center;
}
.benefits__card:last-child {
  margin-bottom: 0;
}
.benefits__img {
  margin-bottom: 12px;
  height: 37px;
}
.benefits__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  max-width: 400px;
  margin: 0 auto;
}

.antiage {
  margin-bottom: 86px;
}
.antiage__img {
  width: 100%;
  margin-bottom: 40px;
}
.antiage__container {
  margin: 0 9px;
}
.antiage__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin: 0 9px 15px 9px;
}
.antiage__text-container {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.antiage__text {
  margin: 0 9px 10px 9px;
}
.antiage__text_last {
  margin-bottom: 40px;
}
.antiage__step {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
}
.antiage__step:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.antiage__number {
  padding: 9px 11px;
  margin-right: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
.antiage__step-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.face {
  padding: 0 9px;
}
.face__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 15px;
}
.face__text-container {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.face__text {
  margin-bottom: 10px;
}
.face__text:last-child {
  margin-bottom: 50px;
}

.proage {
  background: #001032;
  margin-bottom: 86px;
  position: relative;
}
.proage__img {
  width: 100%;
}
.proage__title {
  display: none;
}
.proage__btn {
  position: absolute;
  left: 50%;
  bottom: 13.7%;
  transform: translateX(-50%);
  padding: 15px 39px;
  background: #ffffff;
  border-radius: 29px;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #044769;
}

.signup {
  padding: 0 10px;
  margin-bottom: 86px;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.signup__title {
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}
.signup__img {
  width: 100%;
  margin-bottom: 25px;
}
.signup__subtitle {
  margin-bottom: 22px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.signup__input {
  padding: 15px 12px;
  width: 100%;
  background: rgba(159, 128, 113, 0.2);
  border-radius: 8px;
  margin-bottom: 4px;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #111111;
}
.signup__input_last {
  margin-bottom: 12px;
}
.signup__btn {
  margin: 0 auto;
  display: block;
  padding: 15px 27px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #8c452b;
  border-radius: 29px;
  cursor: pointer;
}
.signup__btn-image {
  padding-left: 11px;
}
.signup__checkbox-container {
  display: flex;
  position: relative;
  padding-left: 38px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 28px;
}
.signup__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.signup__checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 22px;
  height: 23px;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.signup__checkbox:checked ~ .signup__checkmark {
  border-color: #8c452b;
}
.signup__checkbox:checked ~ .signup__checkbox-text {
  color: #8c452b;
}
.signup__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.signup__checkbox:checked ~ .signup__checkmark:after {
  display: block;
}
.signup__checkmark:after {
  left: 6.8px;
  top: 1.5px;
  width: 5px;
  height: 13px;
  border: solid #8c452b;
  border-width: 0 2.25px 2.25px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.signup__checkbox-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.footer {
  background: #8c452b;
  padding: 29px 44px 63px 44px;
}
.footer__container {
  max-width: 316px;
  margin: 0 auto;
}
.footer__pic {
  text-align: center;
  margin-bottom: 30px;
}
.footer__contacts {
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}
.footer__contact {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5px;
}
.footer__contact:last-child {
  margin-bottom: 0;
}
.footer__networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px 10px 16px;
}
.footer__network-link {
  width: 29px;
}
.footer__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    background: #302624;
  }
  .header__pic {
    max-width: 902px;
    width: 63%;
  }
  .header__logo {
    top: 35px;
    left: 9%;
  }
  .header__title {
    top: 28%;
    left: 9%;
    font-size: 8.3vw;
    max-width: 45.7%;
  }
  .header__subtitle {
    max-width: 44.6%;
    top: 58%;
    left: 9%;
    font-size: 2.1vw;
  }
  .header__hint {
    top: 73.1%;
    left: 65.5%;
    display: flex;
    align-items: flex-start;
  }
  .header__btn {
    padding: 0 17.3px;
    font-size: 34.5px;
    line-height: 42px;
    margin-right: 14.5px;
  }
  .header__arrow {
    display: none;
  }
  .header__tooltip {
    margin: 0;
    transform: translateY(calc(-50% + 21px));
    padding: 6px;
    font-size: 18px;
    line-height: 22px;
  }
  .header__btn-signup {
    padding: 25px 0;
    bottom: auto;
    top: 75%;
    border-radius: 40px;
    font-size: 1.6vw;
    line-height: 123%;
    width: 29.9%;
    text-align: center;
  }
  .header__networks {
    top: 50px;
    right: 9%;
    left: auto;
    transform: none;
    flex-direction: column;
  }
  .header__network {
    margin-right: 0;
    margin-bottom: 26px;
  }
  .header__icon {
    height: 41px;
    width: 41px;
  }
  .header__icon path {
    fill: #ffffff;
  }
  .header__icon:hover path {
    fill: #8c452b;
  }
  .benefits {
    padding-top: 198px;
    padding-bottom: 198px;
  }
  .benefits__cards {
    max-width: 1155px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 44px;
  }
  .benefits__card {
    width: 100%;
    margin: 0;
  }
  .benefits__card_first {
    max-width: 326px;
  }
  .benefits__card_second {
    max-width: 380px;
  }
  .benefits__card_third {
    max-width: 361px;
  }
  .benefits__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
  }
  .benefits__img {
    margin-bottom: 40px;
    height: 59px;
  }
  .antiage {
    margin-bottom: 170px;
  }
  .antiage__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .antiage__img {
    order: 3;
    object-fit: cover;
    margin-bottom: 100px;
  }
  .antiage__title {
    order: 1;
    margin: 170px 0 50px 0;
    font-size: 64px;
    line-height: 78px;
  }
  .antiage__text-container {
    order: 2;
    display: flex;
    font-size: 22px;
    line-height: 27px;
    gap: 42px;
  }
  .antiage__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .antiage__step:first-child {
    border-top: none;
  }
  .antiage__step:last-child {
    border-bottom: none;
  }
  .antiage__step-text {
    font-size: 28px;
    line-height: 34px;
  }
  .antiage__number {
    font-size: 57px;
    line-height: 69px;
    padding: 12px 17px;
  }
  .face {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto 170px auto;
  }
  .face__title {
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 50px;
  }
  .face__text-container {
    display: flex;
    gap: 25px;
  }
  .face__text {
    max-width: 50%;
    font-size: 22px;
    line-height: 27px;
  }
  .proage {
    text-align: right;
    margin-bottom: 170px;
  }
  .proage__img {
    width: 100%;
    margin: 0;
  }
  .proage__btn {
    top: 50.8%;
    left: 9.2%;
    transform: none;
    bottom: auto;
    font-size: 24px;
    line-height: 29px;
    padding: 25px 68px;
    border-radius: 45px;
  }
  .proage__title {
    display: block;
    max-width: 41.1%;
    text-align: left;
    position: absolute;
    top: 33.4%;
    left: 9.2%;
    font-family: "Jost";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 58px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .signup {
    position: relative;
  }
  .signup__img {
    position: absolute;
    max-width: 49.16%;
    left: 50.8%;
    height: 100%;
    top: 0;
    right: 0;
  }
  .signup__title {
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 36px;
    max-width: 41.7%;
    margin-left: 9%;
    padding-right: 45px;
  }
  .signup__body {
    max-width: 41.7%;
    margin-left: 9%;
    padding-right: 45px;
  }
  .signup__subtitle {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 60px;
  }
  .signup__input {
    font-size: 21px;
    line-height: 25px;
    padding: 21px 26px;
    margin-bottom: 7.5px;
  }
  .signup__input_last {
    margin-bottom: 21.5px;
  }
  .signup__checkbox-container {
    padding-left: 62px;
    margin-bottom: 59px;
  }
  .signup__checkbox-text {
    font-size: 21px;
    line-height: 25px;
  }
  .signup__checkmark {
    width: 38px;
    height: 39.5px;
    border-width: 1.7px;
  }
  .signup__checkmark:after {
    left: 10.8px;
    top: 0.5px;
    width: 11px;
    height: 25px;
    border-width: 0 3.5px 3.5px 0;
  }
  .signup__btn {
    padding: 25px 136px;
    font-size: 24px;
    line-height: 29px;
  }
  .signup__btn-image {
    width: 38px;
  }
  .footer {
    background: #8c452b;
    padding-top: 41px;
    padding-bottom: 71px;
  }
  .footer__pic {
    text-align: center;
    margin-bottom: 11px;
  }
  .footer__contacts {
    padding-bottom: 24px;
    border-bottom: 1.4px solid #ffffff;
  }
  .footer__contact {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 6px;
  }
  .footer__networks {
    text-align: center;
    max-width: 199px;
    margin: 0 auto 11px auto;
  }
  .footer__network-link {
    width: 33px;
    height: 33px;
  }
  .footer__text {
    font-size: 18px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=main.css.map */
